{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/portfolio.css/' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
 <body style="background-color: #2B4162;">
    <div class="card">
        <div class="image">
          <img src="{% static '/images/abbas.jpg' %}" alt="Profile Picture">
        </div>
        <div class="content">
          <h2 class="heading">Abbas Ishaq</h2>
          <p class="description">I am a dedicated Computer Science student, specializing in my chosen field with utmost proficiency acquired throughout my academic journey. I have honed a plethora of skills, exemplifying my commitment to excellence.
            Proficiency in Programming, encompassing various languages and problem-solving techniques.
            Aptitude in Database Queries, ensuring efficient data retrieval and manipulation.
            Expertise in Front-End Development.
            </p>
        </div>
      </div>
      <div class="card-2">
        <div class="image-2">
          <img src="{% static '/images/inzi.jpg' %}" alt="Profile Picture">
        </div>
        <div class="content">
          <h2 class="heading">Inzimam Ul Haq</h2>
          <p class="description">I am a dedicated Computer Science student, specializing in my chosen field with utmost proficiency acquired throughout my academic journey. I have honed a plethora of skills, exemplifying my commitment to excellence.
            Proficiency in Programming, encompassing various languages and problem-solving techniques.
            Aptitude in Database Queries, ensuring efficient data retrieval and manipulation.
            Expertise in Front-End Development.
            </p>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="{% static '/images/munsif.jpg' %}" alt="Profile Picture">
        </div>
        <div class="content">
          <h2 class="heading">Muhammad munsif</h2>
          <p class="description">I am a dedicated Computer Science student, specializing in my chosen field with utmost proficiency acquired throughout my academic journey. I have honed a plethora of skills, exemplifying my commitment to excellence.
            Proficiency in Programming, encompassing various languages and problem-solving techniques.
            Aptitude in Database Queries, ensuring efficient data retrieval and manipulation.
            Expertise in Front-End Development.
            </p>
        </div>
      </div>
      
 </body>   
</html>